:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --header-icon-border: #1111111a;
  --modal-icon: #404040;
}
html {
  scroll-behavior: smooth;
}

/* #region Common */
body {
  font-family: "Montserrat", sans-serif;
  background: var(--light);
}
a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
/* #endregion Base */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
.btn {
  min-width: 144px;
  min-height: 45px;
  border: 1px solid transparent;
  padding: 14px 40px;
  font-weight: 600;
  font-size: 14px;
  background: var(--orange);
  border-radius: 100px;
  color: var(--white);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  /* outline: 2px solid yellow;
    outline-offset: -2px; */
}
.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* outline: 2px solid red;
    outline-offset: -2px; */
}
.sextion {
  padding: 60px 0;
}

/* #endregion Common */

/* #region header */
.header {
  position: sticky;
  top: 0;
  background: var(--light);
  z-index: 1000;
  border-bottom: 1px solid var(--header-icon-border);
}
.header .container {
  justify-content: space-between;
}
.logo {
  display: inline-flex;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: var(--black);

  transition: color 0.2s linear;
}
.header-logo-accent {
  font-style: italic;
}
.header-nav-list {
  gap: 24px;
}
.header-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}
.header-nav-link {
  padding: 20px 0;
  display: block;
  transition: color 0.2s linear;
}
.soc-links-list {
  gap: 14px;
}
.soc-links-item {
  border: 1px solid var(--header-icon-border);
  border-radius: 10px;
  transition: border-color 0.2s linear;
}
.header .soc-links-link {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.soc-svg-icon {
  fill: var(--black);
  transition: fill 0.2s linear;
}
.header .soc-links-item:hover .soc-svg-icon {
  fill: var(--orange);
}
.header .soc-links-item:hover {
  border-color: var(--beige);
}
a:hover,
a:focus {
  color: var(--orange);
}

/* #endregion header */

/* #region hero */
.hero {
  margin-bottom: 80px;
}
.hero-container {
  background: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.1),
      rgba(17, 17, 17, 0.1)
    ),
    url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 380px 40px 40px;
}
.hero-title {
  width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 32px;
}
.hero-btns {
  justify-content: space-between;
}
.hero-list {
  gap: 14px;
}
.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--white);
}
.btn-orange {
  transition: color 0.2s linear, background-color 0.2s linear;
}
.btn-orange:hover,
.btn-orange:focus {
  background-color: var(--beige);
  color: var(--orange);
}
.hero .btn-white {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  transition: color 0.2s linear, border-color 0.2s linear;
}
.btn-white:hover,
.btn-white:focus {
  border-color: var(--orange);
  color: var(--orange);
}
.hero-scroll-link {
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--white);
  transition: color 0.2s linear;
}
.scroll-svg-wrap {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s linear;
}
.scroll-icon {
  fill: var(--orange);
  transition: fill 0.2s linear;
}
.hero-scroll-link:hover .scroll-svg-wrap,
.hero-scroll-link:focus .scroll-svg-wrap {
  background-color: var(--orange);
}
.hero-scroll-link:hover .scroll-icon,
.hero-scroll-link:focus .scroll-icon {
  fill: var(--light);
}
/* #endregion hero */

/* #region benefits */
.benefits {
  background: var(--violet);
  padding: 50px 0;
}
.benefits .container {
  width: 1200px;
  padding: 0 50px;
}

.benefits-list {
  justify-content: center;
  align-items: stretch;
  gap: 88px;
}
.benefits-item {
  width: calc((100% - 88px * 2) / 3);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.benefits-icon-wrap {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.benefits-item:not(:nth-child(3n))::after {
  content: "";
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  --height-ben-item: 50%;
  height: var(--height-ben-item);
  width: 0px;
  position: absolute;
  right: -44px;
  top: calc((100% - var(--height-ben-item)) / 2);
}

.benefits-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: var(--white);
  margin-bottom: 18px;
}

/* #endregion benefits */

/* #region ingridients */
.ingridients {
  padding-top: 120px;
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  width: 412px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
}
.orange-text {
  color: var(--orange);
}
.ingridients-list {
  gap: 32px;
}
.ingridients-item {
  width: calc((100% - 96px) / 4);
  height: 270px;
  padding: 28px 23px;
  border: 1px solid transparent;
  border-radius: 15px;
  position: relative;
}
.ingridients-icon {
  position: absolute;
  stroke: var(--light);
  position: absolute;
  right: 14px;
  top: 14px;
}
.ingridients-caption {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingridients-item:nth-child(4n + 1) {
  background-color: var(--orange);
}
.ingridients-item:nth-child(2n + 2) {
  background-color: var(--white);
  border-color: var(--orange);
}
.ingridients-item:nth-child(4n + 3) {
  background-color: var(--black);
  color: var(--white);
}
.ingridients-item:nth-child(2n + 2) .ingridients-icon {
  stroke: var(--orange);
}
.ingridients-img {
  margin-bottom: 36px;
}
/* #endregion ingridients */

/* #region made */
.made-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--black);
  margin-bottom: 32px;
}
.made-col {
  width: 516px;
  padding: 32px;
  background: #fff;
  border-radius: 15px;
}
.made-row {
  justify-content: space-between;
  align-items: stretch;
}
.made-img {
  width: 600px;
}
.made-list {
  list-style-type: disc;
  padding-left: 16px;
  gap: 24px;
}
.made-item {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}
/* #endregion made */

/* #region products */
.products-list {
  gap: 18px;
}
.products-item {
  padding: 32px;
  background: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 18px * 3) / 4);
  align-items: center;
  transition: transform 0.4s linear, box-shadow 0.4s linear;
}
.products-item:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.3);
}
.products-img {
  margin-bottom: 10px;
}
.products-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.btn-products {
  width: 94px;
  height: 33px;
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  background: var(--light);
  border: 1px solid rgba(17, 17, 17, 0.1);

  transition: color 0.2s linear, background-color 0.2s linear;
}
.btn-products:hover {
  background-color: var(--orange);
  color: var(--white);
}
/* #endregion products */

/* #region bestsellers */
.bestsellers-list {
  gap: 16px;
}
.bestsellers-item {
  width: calc((100% - 32px) / 3);
}
.bestsellers-thumb {
  position: relative;
  overflow: hidden;
}
.bestsellers-img {
  border-radius: 15px 15px 0 0;
}
.bestsellers-overlay {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--light);
  padding: 40px;
  padding-top: 178px;
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;

  transform: translateY(100%);
  transition: transform 0.4s linear;
}
.bestsellers-item:hover .bestsellers-overlay {
  transform: translateY(0%);
}
.bestsellers-caption {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  width: 368px;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
/* #endregion bestsellers */

/* #region reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-list {
  margin-top: 92px;
  gap: 28px;
  align-items: start;
  margin-bottom: 50px;
}
.reviews-item {
  width: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  min-height: 200px;
  padding: 56px 24px 24px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
  background: var(--white);

  position: relative;
  transition: box-shadow 0.2s linear;
}
.reviews-item:hover {
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.3);
}
.rewies-img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-item-caption {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--black);
}
.reviews-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-button {
  background: var(--light);
  border-color: var(--orange);
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  margin: 0 auto;

  transition: color 0.2s linear, background-color 0.2s linear;
}
.reviews-button:hover {
  background-color: var(--orange);
  color: var(--white);
}
/* #endregion reviews */

/* #region footer */
.footer {
  background: var(--violet);
  color: var(--white);
  padding: 50px 0;
}
.footer-contacts-block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  align-items: start;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 24px;
}
.networks-address {
  gap: 50px;
  align-items: start;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  width: 300px;
}
.social-networks-caption,
.address-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--white);
  margin-bottom: 14px;
}
.footer .soc-links-list {
  gap: 14px;
}
.footer-soc-link {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: border-color 0.2s linear;
}
.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
  transition: fill 0.2s linear;
}
.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--orange);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  border-color: var(--beige);
}
.address-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  transition: color 0.2s linear;
}
.footer-bottom {
  justify-content: space-between;
}
.footer-menu-list {
  gap: 24px;
}
.footer-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: var(--white);
}
.footer-menu-link {
  display: block;
  padding: 18px 0;
  transition: color 0.2s linear;
}

.footer-form {
  max-width: 458px;
  width: 100%;
  height: 52px;
}
.footer-input {
  max-width: 313px;
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  margin-right: 8px;
  color: var(--white);
  outline: transparent;
  transition: border-color 0.3s linear;
}
.footer-input:focus{
  border-color: var(--white);
}
.footer-submit-btn {
  min-width: 130;
  max-width: 137px;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--white);
  padding: 17px 32px;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.footer-submit-btn:hover {
  background-color: var(--beige);
  color: var(--orange);
}
/* #endregion footer */

/* #region Modal form */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-input,
.modal-textarea {
  width: 100%;
  border: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  padding-left: 62px;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--black);
  outline: transparent;
  transition: border-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-textarea {
  resize: none;
  padding-left: 24px;
  height: 137px;
}
.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  width: 517px;
  min-height: 794px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--light);
  border-radius: 15px;
  position: relative;
}

.modal-close-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  
}
.modal-btn-icon {
  stroke: var(--black);
  transition: stroke 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-close-btn:hover .modal-btn-icon {
  stroke: var(--orange);
}
.modal-caption {
  width: 305px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}

.modal-form-label {
  display: block;
  padding-bottom: 8px;
}
.modal-form-box {
  position: relative;
  margin-bottom: 16px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: var(--modal-icon);
}

.modal-form-input:focus,
.modal-textarea:focus {
  border-color: var(--orange);
}
.modal-form-input:focus + .modal-form-icon {
  stroke: var(--orange);
}
.modal-privacy-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.custom-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon-checkbox {
  fill: transparent;
  transition: fill 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.blue-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--orange);
}
.modal-input-checkbox:checked + .modal-privacy-label > .custom-checkbox {
  background-color: var(--orange);
  border: none;
}
.modal-input-checkbox:checked
  + .modal-privacy-label
  > .custom-checkbox
  > .icon-checkbox {
  fill: var(--white);
}
.privacy-field {
  margin-bottom: 40px;
}
.modal-btn {
  width: 117px;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    color 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  border-color: var(--orange);
  color: var(--black);
  background-color: var(--white);
}
/* #endregion Modal form */
